

@mixin helper-font-size($size) {
    font-size: map-get($setting-font-size, $size);
}

@mixin helper-font-weight($weight) {
    font-weight: map-get($setting-font-weight, $weight);
}

@mixin helper-font-line-height($height) {
    line-height: map-get($setting-font-line-height, $height);
}

@mixin basic-typography() {
    html {
        font-size: $setting-font-size-base;
        @include helper-breakpoint-media-max($setting-breakpoint-lg-max){
            font-size: 16px;
        }
        @include helper-breakpoint-media-max($setting-breakpoint-sm-max){
            font-size: 14px;
        }
    }

    body {
        @include helper-font-size(default);
        @include helper-font-weight(regular);
        @include helper-font-line-height(default);
        position: relative;
        background-color: $setting-color-body;
        color: $setting-color-text;
        font-family: $setting-font-family;
    }

    @each $i in (1, 2, 3, 4, 5, 6) {
        h#{$i} {
            @include helper-font-size($i);
            @include helper-font-line-height($i);
            display: block;
        }
    }

    a {
        color: $setting-color-main;
        text-decoration: none;
        font-size: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }

    b,
    strong {
        @include helper-font-weight(bold);
    }

    i,
    em,
    cite {
        font-style: italic;
    }

    hr {
        @include helper-ui-clearfix;
        border-bottom: 1px solid $setting-color-lighter;
        margin: 0.5rem 0;
    }

    small {
        @include helper-font-size(small);
    }

    big {
        @include helper-font-size(big);
    }

    p,
    blockquote {
        margin: 0.5rem 0;
        font-size: 1rem;
    }

    .text {
        &--sm {
            font-size: 20px;
        }

        &--md {
            font-size: 24px;
        }

        &--xl {
            font-size: 50px;
        }

        &--center {
            text-align: center;
        }
    }

    .color {
        &--main {
            color: $setting-color-main;
        }
    }

    .with-prefix {
        padding-left: 30px;
        position: relative;

        &::before {
            width: 20px;
            height: 3px;
            @include absolute-centred-y-elem();
        }
        &--black {
            &::before {
                background: #000;
            }
        }
        &--main {
            &::before {
                background: $setting-color-main;
            }
        }
        &--white {
            &::before {
                background: #fff;
            }
        }
        &--mobile {
            padding-left: 0;
            text-align: center;
            &:after {
                display: none;
            }
        }
    }
}
@include basic-typography();
