.header {
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 0;
    &__container {
        padding-top: 26px;
        padding-bottom: 26px;
        padding-left: 0;
    }
    &__logo {
        width: 250px;
        img {
            display: block;
        }
    }
    
}
