.header {
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 0;
    &__container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    &__logo {
        width: 300px;
    }
    
}
