.jumbotron {
    display: flex;
    align-items: center;
    min-height: 1000px;
    overflow-y: hidden;
    border-bottom: 12px solid #fff;
    padding-top: 250px;
    position: relative;

    &__content {
        z-index: 10;

        h1 {
            margin: 30px 0;
        }

        iframe {
            width: 833px;
            height: 568px;
        }
        p {
            font-size: 24px;
        }

        span {
            font-size: 25px;
        }
    }
}
