.jumbotron {
    display: flex;
    align-items: center;
    min-height: 900px;
    overflow: hidden;
    position: relative;

    &__content {
        z-index: 10;

        h1 {
            margin: 30px 0;
            font-weight: bold;
        }

        iframe {
            width: 540px;
            height: 365px;
        }
    }
}
