
//@font-face {
//    font-family: Roboto;
//    src: url('assets/fonts/RobotoMono-Regular.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: Roboto;
//    src: url('assets/fonts/RobotoMono-Bold.ttf') format('truetype');
//    font-weight: bold;
//    font-style: normal;
//}

@font-face {

}

$setting-font-family: 'Roboto Mono','Arial', sans-serif !default;
$setting-font-size-base: 20px !default;

$setting-color-body: #fff;
$setting-color-text: #272727;
$setting-color-bg: #0a1f38;
$setting-color-main:#225290;


$setting-color-lighter: #ccc;

$setting-grid-max-width: 1280px !default;
$setting-grid-padding: 40px;
$setting-grid-gutter: 0 !default;
$setting-grid-columns: 12 !default;
$setting-fullscreen-min-height: 700px;

$setting-breakpoint-sm-max: 549px;
$setting-breakpoint-md-max: 879px;
$setting-breakpoint-lg-max: 1169px;

$setting-breakpoints: (
    sm: (0, $setting-breakpoint-sm-max),
    md: (550px, $setting-breakpoint-md-max),
    lg: (880px, $setting-breakpoint-lg-max),
    xl: (1170px)
) !default;


$setting-font-size: (
        1: 3rem,
        2: 2.5rem,
        3: 30px,
        4: 26px,
        5: 22px,
        6: 18px,
        big: 24px,
        default: 20px,
        small: 18px
) !default;

$setting-font-weight: (
        light: 300,
        regular: 400,
        bold: 900
) !default;

$setting-font-line-height: (
        1: 1.1,
        2: 1.2,
        3: 1.4,
        4: 1.4,
        5: 1.4,
        6: 1.4,
        default: 1.5,
        tight: 1.1
) !default;
