.steps-page {
    h2 {
        margin: 16px 0;
    }

    h6 {
        margin-top: 50px;
    }
}

.progress-bar-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $setting-color-bg-1;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.form-field {
    font-size: 12px;
    margin-bottom: 40px;

    label {
        display: block;
        margin: 13px 0;
        font-size: 14px;
    }

    input, select {
        margin-right: 30px;
        font-family: $setting-font-family-1;
        color: rgba(0,0,0,.5);
    }

    input[type="radio"] {
        margin-right: 16px;
        margin-bottom: 14px;
    }

    input {
        &::placeholder {
            color: rgba(0,0,0,.5);
        }
        border: 1px solid #ddd;
        background: #F7F7F7;
        padding: 8px 13px;
        max-width: 160px;
        &.input--narrow {
            max-width: 65px;
        }
        &:invalid {
            border-color: #d32f2f;
        }
        &:valid {
            border-color: #4caf50;
        }
    }

    select {
        -webkit-appearance: none;
        border-radius: 0;
        border: 1px solid #ddd;
        background: #F7F7F7;
        padding: 8px 13px;
        width: 100%;
        max-width: 254px;
        &.select--narrow {
            width: auto;
        }

    }
    &--half-size {
        width: 50%;
    }
}


.drop-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $setting-color-gray-1;
    background: #F7F7F7;
    width: 100%;
    max-width: 445px;
    height: 280px;

    input {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    &__text-sm {
        font-size: 12px;
        font-family: $setting-font-family-1;
        color: rgba(0,0,0,.2);

    }
    &__text-lg {
        font-size: 0.8rem;
        font-family: $setting-font-family-1;
        color: rgba(0,0,0,.5);
    }
}
