.steps-page {
    h2 {
        margin: 16px 0;
    }

    h6 {
        margin-top: 50px;
    }
}

.progress-bar-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $setting-color-bg-1;

    &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 78px;
        position: relative;
        padding: 16px 0;
    }

    &__actions {
        position: absolute;
        right: 0;
    }

    &__text {
        margin-right: 30px;
        @include helper-breakpoint-media-max($setting-breakpoint-sm-max) {
            width: 100%;
        }
    }

}

.progress-bar {
    height: 12px;
    max-width: 445px;
    width: 50%;
    background: rgba(255,255,255,.2);
    position: relative;
    overflow: hidden;
    @include helper-breakpoint-media-max($setting-breakpoint-sm-max) {
        height: 7px;
    }

    &__progress {
        position: absolute;
        height: 12px;
        width: 100%;
        top: 0;
        left: -100%;
        background: #0C5195;
        transition: left .8s ease-in-out;
    }
}

.help {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    color: black;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}


.form-field {
    font-size: 12px;
    margin-bottom: 40px;

    label {
        display: block;
        margin: 13px 0;
        font-size: 14px;
    }

    input, select {
        margin-right: 30px;
        font-family: $setting-font-family-1;
        color: rgba(0,0,0,.5);
    }

    input[type="radio"] {
        margin-right: 16px;
        margin-bottom: 14px;
    }

    input {
        &::placeholder {
            color: rgba(0,0,0,.5);
        }
        border: 1px solid #ddd;
        background: #F7F7F7;
        padding: 8px 13px;
        max-width: 160px;
        &.input--narrow {
            max-width: 65px;
        }

    }

    form.submitted & input {
        &:invalid {
            border-color: #d32f2f;
        }
        &:valid {
            border-color: #4caf50;
        }
    }

    select {
        -webkit-appearance: none;
        border-radius: 0;
        border: 1px solid #ddd;
        background: #F7F7F7;
        padding: 8px 13px;
        width: 100%;
        max-width: 254px;
        &.select--narrow {
            width: auto;
        }

    }
    &--half-size {
        width: 50%;
    }
}


.drop-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $setting-color-gray-1;
    background: #F7F7F7;
    width: 100%;
    max-width: 445px;
    height: 280px;

    input {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    &__text-sm {
        font-size: 12px;
        font-family: $setting-font-family-1;
        color: rgba(0,0,0,.2);

    }
    &__text-lg {
        font-size: 0.8rem;
        font-family: $setting-font-family-1;
        color: rgba(0,0,0,.5);
    }
}


